header{
	width:100%;
	height:10vh;
}

header nav h1{
	color: white;
}

nav{
	width:100%;
	height:10vh;
	background: rgba(0,0,0,0.2);
	color:white;
	display:flex;
	justify-content: space-between;
	align-items: center;
	position:fixed;
	top:0;
}

.color{
	width:100%;
	height:10vh;
	background: black;
	color:white;
	display:flex;
	justify-content: space-between;
	align-items: center;
	position:fixed;
	top:0;
}
nav .logo img{
	width:12vw;
	height:10vh;
	margin-left:30px;
}

nav .menu{
	width:50%;
	display: flex;
	justify-content: space-around;
}

nav .menu a{
	width:25%;
	text-decoration: none;
	color:white;
	font-weight: bold;
	font-size: 17px;
	border: 1px solid transparent;
	border-radius: 8px;
	padding:5px 20px;
	text-align:center;
}

nav .menu a:hover{
	color:pink;
}

nav .menu a.active{
	color:pink;
}
.bgc{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
	background-position: center;
	background-repeat: none;
	background-size: cover;
}
.tb{
	margin-left:auto;
	margin-right:auto;
	border: 2px solid red;
	color:black;
	width:75vw;
	margin-top:3vh;
	text-align:center;
}

.tb tr th{
	font-size:2vw;
	color: white;
	padding: 3vh 4vw;
}
.tb tr td{
	padding: 3vh 4vw;
}
.footer {
	position: fixed;
	left: 0;
 	bottom: 0;
	width: 100%;
	height:50px;
	background-color: rgba(0,0,0,0.2);
	color: white;
  	text-align: center;
	padding:12px;
}