*{
	margin:0;
	padding:0;
}
header{
	width:100%;
	height:10vh;
}
header nav h1{
	color: white;
}

nav{
	width:100%;
	height:10vh;
	background: rgba(0,0,0,0.2);
	color:white;
	display:flex;
	justify-content: space-between;
	align-items: center;
	position:fixed;
	top:0;
}

.color{
	width:100%;
	height:10vh;
	background: black;
	color:white;
	display:flex;
	justify-content: space-between;
	align-items: center;
	position:fixed;
	top:0;
}
nav .logo img{
	width:12vw;
	height:10vh;
	margin-left:30px;
}

nav .menu{
	width:50%;
	display: flex;
	justify-content: space-around;
}

nav .menu a{
	width:25%;
	text-decoration: none;
	color:white;
	font-weight: bold;
	font-size: 17px;
	border: 1px solid transparent;
	border-radius: 8px;
	padding:5px 20px;
	text-align:center;
}

nav .menu a:hover{
	color:pink;
}

nav .menu a.active{
	color:pink;
}
.image1{
	margin:7vh  3vw;
}

.image2{
	margin:7vh  3vw;
}

.image3{
	margin:7vh  3vw;
}

.image4{
	margin:7vh  3vw;
}

.image5{
	margin:7vh 3vw;
}

.image6{
	margin:7vh 3vw;
}

.image7{
	margin:7vh  3vw;
}

.image8{
	margin:7vh  3vw;
}

.footer {
	position: fixed;
	left: 0;
 	bottom: 0;
	width: 100%;
	height:50px;
	background-color: rgba(0,0,0,0.2);
	color: white;
  	text-align: center;
	padding:12px;
}
